star.p
state.p
star.p*
__pycache__/
hsaudiotag/
stagger/
pylast/
PyLyrics/
cache/
.idea/
pyperclip/
playlists/
sdl2/
lib/*.dll
lib/*.so
*.pyd
*.pyx
encoder/
*.flac
build/
*.csv
a.ogg
*.bat
stats.txt
*.idl
*.tlb
