__pycache__/
hsaudiotag/
stagger/
pylast/
PyLyrics/
pypresence/
cache/
user-data/
.idea/
pyperclip/
sdl2/
*.pyd
*.pyx
*.flac
*.ogg
*.mp3
build/
*.bat
*.idl
*.tlb
*.mo
prime/
*.snap
pygettext.py
*.po~
lib/
*.DS_Store
dist/

