__pycache__/
hsaudiotag/
stagger/
pylast/
PyLyrics/
pypresence/
cache/
user-data*/
.idea/
sdl2/
fonts/
*.pyd
*.pyx
*.flac
*.ogg
*.mp3
build/
*.bat
*.tlb
*.mo
prime/
*.snap
pygettext.py
*.po~
lib/
*.DS_Store
dist/
*.exe
.dev
.venv
src/tauon_music_box.egg-info
kissfft.tar.gz
miniaudio.tar.gz
debug
lrclib-solver
