Pillow
pylast>=3.1.0
PySDL2
Send2Trash
requests
beautifulsoup4
PlexAPI
musicbrainzngs
isounidecode
setproctitle
pulsectl
mutagen
natsort
websocket_client
urllib3<1.27,>=1.21.1
certifi>=2017.4.17
charset_normalizer~=2.0.0
idna<4,>=2.5
soupsieve>1.2
six
