beautifulsoup4
musicbrainzngs
mutagen
Pillow # ;                      sys_platform != 'darwin' # Install Pillow from brew on macOS
PlexAPI
PyGObject
pylast>=3.1.0
pyobjc-framework-Cocoa;     sys_platform == 'darwin'
PySDL3
#python-magic # optional
requests
Send2Trash
unidecode
comtypes;                    sys_platform == 'win32'
dbus-python;                 sys_platform == 'linux'
jxlpy
keyboard;                    sys_platform == 'win32'
lynxtray;                    sys_platform == 'win32'
opencc;                      sys_platform != 'win32' # optional
opencc-python-reimplemented; sys_platform == 'win32' # optional
pypresence>=4.5.0 # optional
natsort # optional
#picard # optional
PyChromecast # optional
setproctitle # optional
tidalapi # optional
zeroconf # optional
colored_traceback;           sys_platform != 'win32' # optional - Disabled for Windows due to https://github.com/staticshock/colored-traceback.py/issues/25
PyOpenGL
#pyinstaller
#  https://github.com/metabrainz/picard/releases
