beautifulsoup4
comtypes # Windows dep
# dbus-python # Linux dep
infi.systray
keyboard # Windows dep
musicbrainzngs
mutagen
natsort # optdep
opencc-python-reimplemented # Windows version of openCC optdep
# Pillow # Linux dep
PlexAPI
PyGObject
pyinstaller
pylast>=3.1.0
pypresence # optdep
PySDL2
requests
Send2Trash
tekore # optdep
unidecode
