[Desktop Entry]
Comment=
Exec=com.github.taiko2k.tauonmb.sh
GenericName=Audio Player
Icon=com.github.taiko2k.tauonmb
MimeType=audio/ogg;audio/flac;audio/wav;audio/x-tta;audio/mp3;audio/m4a;audio/x-ape
Name=Tauon Music Box
StartupNotify=false
StartupWMClass=Tauon Music Box
Terminal=false
Type=Application
Categories=AudioVideo;Player;Audio;

