[Desktop Entry]
Comment=
Exec=com.github.taiko2k.tauonmb.sh %U
GenericName=Audio Player
Icon=com.github.taiko2k.tauonmb
MimeType=application/ogg;audio/x-vorbis+ogg;application/x-ogg;audio/ogg;audio/x-ogg;audio/x-opus+ogg;audio/flac;audio/x-flac;application/flac;audio/wav;audio/x-wav;audio/x-wav;audio/tta;audio/x-tta;audio/mp3;audio/x-mp3;audio/m4a;audio/x-m4a;audio/ape;audio/x-ape;x-content/audio-player
Name=Tauon Music Box
StartupNotify=false
StartupWMClass=Tauon Music Box
Terminal=false
Type=Application
Categories=AudioVideo;Player;Audio;

