colored_traceback;           sys_platform != 'win32' # Disabled for Windows due to https://github.com/staticshock/colored-traceback.py/issues/25
jxlpy
#librespot - https://github.com/kokarare1212/librespot-python/pull/286
natsort
opencc;                      sys_platform != 'win32'
opencc-python-reimplemented; sys_platform == 'win32'
#picard - picard 2.12.3 requires charset-normalizer~=3.3.2, but you have charset-normalizer 3.4.0 which is incompatible.
plexapi
PyChromecast
#python-magic # WIP
pypresence>=4.4.0
setproctitle
tekore
tidalapi
