colored_traceback;           sys_platform != 'win32' # Disabled for Windows due to https://github.com/staticshock/colored-traceback.py/issues/25
jxlpy
#librespot - https://github.com/kokarare1212/librespot-python/pull/286
natsort
opencc;                      sys_platform != 'win32'
opencc-python-reimplemented; sys_platform == 'win32'
#picard
plexapi
PyChromecast
#python-magic # WIP
lynxpresence>=4.4.1
setproctitle
tekore
tidalapi
