[Desktop Entry]
Comment=
Exec=python3 /opt/tauon-music-box/tauon.py %U
GenericName=Audio Player
Icon=/opt/tauon-music-box/gui/icon.png
MimeType=application/ogg;audio/x-vorbis+ogg;application/x-ogg;audio/mp3;audio/x-mp3;audio/x-flac;audio/mpeg;audio/x-mpeg;audio;audio/mpeg3;audio/ogg;audio/flac;audio/wav;audio/x-oggflac;audio/x-tta
Name=Tauon Music Box
Path=
StartupNotify=false
StartupWMClass=Tauon Music Box
Terminal=false
TerminalOptions=
Type=Application
Categories=AudioVideo;Player;Audio;
