<!DOCTYPE html>



<html>
<head>
  <meta charset="utf-8"/>
  <link href="theme.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div id="img-holder">
    <img id='picture' src="#" alt="No Album Art" /> <br> <br>
  </div>



  <div id="control-holder">
    <div class="buttons">
      <ul>
        <li>Play/Pause</li>
        <li>Stop</li>
        <li>Back</li>
        <li>Next</li>
        <li id="shuffle-button">Shuffle</li>
        <li id="repeat-button">Repeat</li>

    </div>

     <div id="seekback">
       <div id="seekfront">
       </div>
     </div>
  </div>

  <div id="tracklist">
  </div>

  <!-- <div id="albumlist">
  </div> -->

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="code.js"></script>
</body>

</html>
