
body {
  margin: 0;
  background-color: rgb(27, 27, 27);
  /*font-family: sans-serif;*/
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
}

h1 {
  font-size: 2.5em;
}

h3 {
  color: rgb(224, 224, 224);
  font-size: 1em;
}

kbd {
  background-color: rgb(59, 59, 59);
}


.top {
  /*background: linear-gradient(135deg, #e5a52d 9%,#ede782 100%);*/
  background: linear-gradient(135deg, #a04ff7 0%,#debdf9 100%);
  width: auto;
  height: 800px;
}

.bottom {
  background-color: rgb(25, 25, 25);
}

.title-h {
  width: auto;
  text-align: center;
  padding-top: 50px;
}

.scrn-holder {
  width: auto;
  text-align: center;
  padding-top: 50px;



}



.divider{
    width:50px;
    height:auto;
    display:inline-block;
}




.space {
  height: 10px;
  clear: both;
}

.desc {
  color: rgb(222, 222, 222);
  /*width: auto;*/
  /*margin-top: 80px;*/
  font-size: 1.1em;
  text-align: left;
  font-weight: bold;

}

.p-text a {
  /*color: rgb(52, 204, 163);*/
  color: rgb(160, 160, 160);
  text-decoration: none;

}

.points {
  color: rgb(204, 84, 84);
  text-align: left;
  /*margin-left: 42%;*/

  width: 600px;
}

.p-text {
  color: rgb(215, 215, 215);
}


.content-container {
  margin: auto;

  max-width: 1420px;
  text-align: center;
  background-color: grey;
}

.right-container {
  float: left;
  display: inline-block;
  margin: 0px;


}

.left-container {
  float: left;
  display: inline-block;
  margin: 0px;
  margin-left: 20px;


}





.points li {
  margin-bottom: 2px;
}

#vers {
  border: none;
  font-weight: bold;
  width: 50px;
  height: 18px;
  background-color: rgb(135, 56, 224);
  font-size: 0.8em;

  text-align: center;
  color: rgb(236, 236, 236);
  float: left;

}

.extra-holder {

margin-left: 75%;

}

#g-link {
  border: none;
  font-weight: bold;
  width: 150px;
  height: 18px;
  background-color: rgb(75, 56, 224);
  font-size: 0.8em;
  margin-left: 15px;
  text-decoration: none;
  text-align: center;
  color: rgb(236, 236, 236);
  float: left;
}



#scrn1 {
  max-height: 470px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 28px 0 rgba(0, 0, 0, 0.25);
}

#icon {

  vertical-align: middle;
  max-height: 80px;
}
