name: Linter
on:
  push:
    # branches:
    #   - '*'
    #   - '!master'
  pull_request:
    # branches:
    #   - '*'
    #   - '!master'

jobs:
  Ruff:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v6
        with:
          submodules: false

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Install Python dependencies and setup venv
        run: |
          python -m pip install --upgrade pip
          python -m venv .venv
          source .venv/bin/activate
          pip install ruff

      - name: Run Ruff
        # We do not want to completely fail all CI if Ruff has complaints
        continue-on-error: true
        # TODO(Martin): Remove True to show actual status in the checkmark when all current issues are solved
        run: |
          source .venv/bin/activate
          ruff check --config pyproject.toml --output-format=github . || true
